<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @task, class: 'task-form' do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :details %>
              <%= f.text_field :details, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :completed %>
              <%= f.check_box :completed, class: 'form-check-input' %>
            </div>
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary"><%= link_to 'Go back', tasks_path %></button>
        </div>
      </div>
    </div>
  </div>
</div>
